*{box-sizing: border-box;
}
header,main,nav,footer,figure,figcaption,aside,section,article {display:block; }

body {
    background-color: #FFFFF4;
    font-family: Arial, Helvetica, sans-serif;
}

html, body, main{
    background-color: #FFFFF4;
}
#wrapper {
    background-color: #FFFFF4;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}


nav a {text-decoration: none;
       transition:background-color 3s ease-out;
}
    nav a:link {
        color: #104E2B;
    }
nav a:visited{color: #7A7A52;}
nav a:hover {color: black;}
nav ul {list-style-type:none;
margin: 0;
padding-left: 0;
font-size: 1.2em;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    padding: 4px 0 4px;
}

.nav-item {
    
    
    
}
main {
    flex:1;
    background-color: #FFFFF4;
    padding: 1px 20px 20px 30px;
    
    display: block;
}

h1 {
    
}

h2 {
    color: #00664D;
    text-shadow: 1px 1px #CCCCCC;
    font-family: Georgia, 'Times New Roman', Times, serif;}

h3 { color: #006646; 
     font-family: Georgia, 'Times New Roman', Times, serif;}

dt { color:#00664D;}

.barn {
    color: #21A35A;
}

main ul{list-style-image: url(marker.gif);}

#contact {
    font-size: 90%;
}
footer {
    background-color: #FFFFF4;
    font-size: 75%;
    font-style: italic;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}

#heroHome {
    background-image: url(sunsetHorse.png);
    background-repeat: no-repeat;
    aspect-ratio: 1000/337;
    background-size: 100% 100%;
    justify-content: center;
    border-radius: 20px 20px;
}

#heroBoard {
    background-image: url(fenceline.png);
    background-repeat: no-repeat;
    aspect-ratio: 1000/337;
    background-size: 100% 100%;
    justify-content: center;
    border-radius: 20px 20px;
}

#heroTraining {
    background-image: url(BayBella.png);
    background-repeat: no-repeat;
    aspect-ratio: 1000/337;
    background-size: 100% 100%;
    justify-content: center;
    border-radius: 20px 20px;
}
#emblam {
    background-image: url(Green_Pastures.png);
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
    background-size: 100% 100%;
    width: 250px;
    height: 250px;
    border-radius: 20px 20px;
}

.head {
    display: flex;
    border: 1px solid black;
    box-shadow: black 4px 4px inset;
    min-height: 250px;
    max-height: 600px;
    align-items: center;
    margin-top: 4px;
    padding: 4px;
    border-radius: 20px 20px;
}

.head2 {
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #104E2B;
    letter-spacing: 0.25em;
    font-size: 3em;
}
body p {
    text-indent: 2em;
}

#contact {
    font-size: 90%;
}

#mobile {display:none;}

#desktop{display:inline;}

table{
    border: 1.5px solid #006600;
    width: 80%;
    border-spacing: 0;
    border-collapse:collapse;
}
td, th{
    padding:5px;
    border: 1px solid #006600;
}
td{
    text-align:center;
}
tr:nth-of-type(odd) {
    background-color: #ecf9ec;
}

label{
    float:left;
    display:block;
    text-align:right;
    width:125px;
    padding-right: 2em;
}
input, textarea {
    display: block;
    margin-bottom: 20px;
    background-color: #E0E0E0;
}
    input email{
        max-width:10em;
    }
    textarea {
        height: 10em;
        max-height: 50em;
        min-height: 4em;
        min-width: 50%;
        max-width: 75%;
    }
input[type="submit"] {
    margin-left:135px;
    
}
figure{
    position:absolute;
    left: 280px;
    opacity:.25;
}
#gallery{
    position: relative;
    height:200px;
}
    #gallery ul{
        list-style-type: none;
        width:300px;
    }
    #gallery li{
        display: inline;
        float: left;
        padding: 10px;
    }
    #gallery img{
        border-style: none;
    }
    #gallery a {
        text-decoration: none;
        font-style: italic;
        color: #000000;
    }
    #gallery span {
        position: absolute;
        left: -1000px;
        opacity:0;
        transition: opacity 3s ease-in-out;
    }
    #gallery a:hover span {
        position: absolute;
        top: 16px;
        left: 320px;
        opacity: 1;
    }

    
    @media only screen and (max-width:64em) {
        iframe{
            height:15em;
            width:30em;
        }
        .head2 {
            font-size: 2em;
        }
        body {
            margin: 0;
            background-color: #FFFFF4;
        }
    #wrapper {min-width: 0;
              width:auto;
              box-shadow: none;
              border: none;
    }
    header {padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-left: 0;
            height: auto;
    }
    h1 {letter-spacing: 0.1em;}
    main {margin-left:0;}
    nav {float:none;
         width:auto;
         text-align: center;
         padding:0.5em;
    }
    nav li {display: inline;
            padding:0.5em 0.75em;
    }
    #heroHome #heroBoard #heroTraining {margin-left:0; 
                                        height: 200px;
    }
    footer {margin-left:0;}
}

@media only screen and (max-width:40em) {
    
    figure{
        display:none;
    }
    #gallery a:hover span {
        display: none;
    }
    .nav {
        padding: 0;
        flex-direction: column;
        text-align: center;
    }
    iframe {
        height: 12em;
        width: 24em;
    }
    #emblam {
        width: calc(250px/2);
        height: calc(250px/2);
    }

    .head2 {
        font-size: 2em;
    }
    main {padding: 0.1em 1em;
          font-size: 90%;}
  
    nav li{display:block;
           margin:0;
           border: solid 1px #330000;
    }
    nav a {display:block;}
   
    #mobile {
        display: inline;
    }
    #desktop {
        display: none;
    }
    label{
        float:none; text-align:left;
    }
    input[type="submit"]{
        margin-left:0;
    }
}






